/* all CSS variables used in the app */
:root {
    --ge-color-contrast: oklch(0.66 0.241 354.308);
    --ge-color-primary: oklch(0.66 0.1233 272.65);
    --ge-color-background: oklch(0.95 0.01 0);

    --ge-font-size: calc(1vw + 0.5rem);
    --ge-font-family: 'Arial', sans-serif;

    --ge-grid-rows: 12;
    --ge-grid-columns: 12;
    --ge-grid-item-position-row-start: 2;
    --ge-grid-item-position-column-start: 3;
    --ge-grid-item-position-row-end: 4;
    --ge-grid-item-position-column-end: 6;
    --ge-page-background-image: none;
}