@import "./variables.css";

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-size: var(--ge-font-size);
    font-family: var(--ge-font-family);
    color: var(--ge-font-color);
    background-color: var(--ge-background-color);
}

.screen-grid {
    display: grid;
    grid-template-rows: repeat(var(--ge-grid-height), 1fr);
    grid-template-columns: repeat(var(--ge-grid-width), 1fr);
    width: 100vw;
    height: 100vh;
}

.grid-component {
    display: grid;
    grid-column: var(--ge-grid-item-left) / calc(var(--ge-grid-item-right) + 1);
    grid-row: var(--ge-grid-item-top) / calc(var(--ge-grid-item-bottom) + 1);
}

.game-menu {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    & button {
        flex: 1;
        cursor: pointer;
        font-size: 125%;
    }
}

.image-component {
    background-image: var(--ge-image-path);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.squares-map {
    --column-count: calc(var(--ge-grid-item-right) - var(--ge-grid-item-left) + 1);
    --row-count: calc(var(--ge-grid-item-bottom) - var(--ge-grid-item-top) + 1);
    --column-base-width: calc(var(--column-count) * 100vw);
    --row-base-height: calc(var(--row-count) * 100vh);
    --column-outer-width: calc(var(--column-base-width) / var(--ge-grid-width));
    --row-outer-height: calc(var(--row-base-height) / var(--ge-grid-height));
    --available-width: calc(var(--column-outer-width) - 8px);
    --available-height: calc(var(--row-outer-height) - 8px);
    --max-tile-width: calc(var(--available-width) / var(--ge-map-viewport-width));
    --max-tile-height: calc(var(--available-height) / var(--ge-map-viewport-height));
    --tile-outer-size: min(var(--max-tile-width), var(--max-tile-height));
    --tile-spacing: calc(var(--tile-outer-size) * 0.04);
    --tile-inner-size: calc(var(--tile-outer-size) - var(--tile-spacing) - var(--tile-spacing));
    --viewport-width: calc(var(--tile-outer-size) * var(--ge-map-viewport-width));
    --viewport-height: calc(var(--tile-outer-size) * var(--ge-map-viewport-height));
    width: var(--viewport-width);
    height: var(--viewport-height);
    background-color: #333;
    margin: auto auto auto auto;

    & .viewport {
        position: relative;
        overflow: hidden;
        border-radius: calc(var(--tile-outer-size) * 0.2);
        outline: solid 2px #808080;
        width: var(--viewport-width);
        height: var(--viewport-height);

        & .area {
            position: absolute;
            background-color: #333;
            display: grid;
            grid-template-columns: repeat(var(--ge-map-area-width), 1fr);
            grid-template-rows: repeat(var(--ge-map-area-height), 1fr);
            width: calc(var(--ge-map-area-width) * var(--tile-outer-size));
            height: calc(var(--ge-map-area-height) * var(--tile-outer-size));
            left: calc(var(--ge-map-position-left) * var(--tile-outer-size) * -1);
            top: calc(var(--ge-map-position-top) * var(--tile-outer-size) * -1);

            &>div {
                width: var(--tile-inner-size);
                height: var(--tile-inner-size);
                margin: var(--tile-spacing);
                position: relative;
                border-radius: calc(var(--tile-inner-size) * 0.2);
                background-color: var(--ge-map-tile-color);

                & img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                }
            }

            .player {
                outline: solid 2px var(--ge-color-contrast);
                border: solid 1px var(--ge-color-dark);
            }
        }
    }
}

.input-matrix {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;

    & div {
        flex: 1;
        display: flex;
        flex-direction: row;
        gap: 0.2rem;

        & button {
            flex: 1;
            cursor: pointer;
        }
    }
}
